@page
@model AssessmentAssistant.Pages.CourseOutcome.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>List of Course Outcomes</h1>
<h4>@ViewData["CourseTitle"]</h4>

<p>
    <a href="CourseOutcome/Create?id=@ViewData["CourseId"]">Create New Course Outcome</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseOutcome[0].OutcomeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseOutcome[0].OutcomeStatement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseOutcome[0].ProgramOutcomeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseOutcome[0].MeasurementPeriod)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CourseOutcome) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OutcomeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutcomeStatement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramOutcomeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeasurementPeriod)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CourseOutcomeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CourseOutcomeId">Course Outcome Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CourseOutcomeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<br/>
<a href="../AcademicCourse/Details?id=@Model.courseid">Back to Course Details</a>
