@page
@model AssessmentAssistant.Pages.CourseOutcome.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="../CourseOutcome/Create?id=@Model.courseid" >Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseOutcome[0].OutcomeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseOutcome[0].OutcomeStatement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseOutcome[0].ProgramOutcomeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseOutcome[0].OutcomeLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseOutcome[0].AcademicCourse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseOutcome[0].MeasurementPeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseOutcome[0].EnteredByUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseOutcome[0].RecordOwnerUserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CourseOutcome) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OutcomeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutcomeStatement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramOutcomeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutcomeLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcademicCourse.AcademicCourseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeasurementPeriod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnteredByUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecordOwnerUserName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CourseOutcomeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CourseOutcomeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CourseOutcomeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
