@page
@model AssessmentAssistant.Pages.CourseOffering.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div>
    <h4>Course Offering for @Model.AcademicCourseTitle()</h4>
    <p>These are the details for the course offering of the specified course. This offering 
        should occur during the measurement period specified. Each course has outcomes which 
        can be measured during a course offering.
    </p>
     
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseOffering.SectionNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseOffering.SectionNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseOffering.Semester)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseOffering.Semester)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseOffering.Instructor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseOffering.Instructor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseOffering.MeasurementPeriod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseOffering.MeasurementPeriod)
        </dd>
                <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseOffering.IssuesFaced)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseOffering.IssuesFaced)
        </dd>
                <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseOffering.ProposedImprovements)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseOffering.ProposedImprovements)
        </dd>
                <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseOffering.ResultsOfImprovements)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseOffering.ResultsOfImprovements)
        </dd>
    </dl>
    <h4>Grade Distribution (optional)</h4>
            <table border="1">
                <thead><tr>
                    <th>@Html.DisplayNameFor(model => model.CourseOffering.Number_A)</th>
                    <th>@Html.DisplayNameFor(model => model.CourseOffering.Number_B)</th>
                    <th>@Html.DisplayNameFor(model => model.CourseOffering.Number_C)</th>
                    <th>@Html.DisplayNameFor(model => model.CourseOffering.Number_D)</th>
                    <th>@Html.DisplayNameFor(model => model.CourseOffering.Number_F)</th>
                    <th>@Html.DisplayNameFor(model => model.CourseOffering.Number_W)</th>
                </tr></thead>
                <tbody><tr>
                    <td>@Html.DisplayFor(model => model.CourseOffering.Number_A)</td>
                    <td>@Html.DisplayFor(model => model.CourseOffering.Number_B)</td>
                    <td>@Html.DisplayFor(model => model.CourseOffering.Number_C)</td>
                    <td>@Html.DisplayFor(model => model.CourseOffering.Number_D)</td>
                    <td>@Html.DisplayFor(model => model.CourseOffering.Number_F)</td>
                    <td>@Html.DisplayFor(model => model.CourseOffering.Number_W)</td>

                </tr></tbody>
            </table>

</div>
<div>
 
    <a href="../AcademicCourse/Details?id=@Model.courseid">Back to Course Details Page</a>
    <br/><br/>
    <p>From here you can edit the course offering, which also allows you to change the values in the grade distribution
        of your course. You can also enter measures for any of the outcomes of your course that you meaasured during this
        course offering.
    </p>   
    <hr />
    <h4>Course Outcomes and Measures</h4>
    <table>
        <thead>
            <tr>
                <th>Outcome Number</th>
                <th>Outcome Statement</th>
                <td>Number of Measures</td>
               
            </tr>
        </thead>
        <tbody>
            @foreach(var item in @Model.CourseOutcomes)
            {
                <tr>
                  <td>@Html.DisplayFor(modelItem => item.OutcomeNumber)</td>
                  <td>@Html.DisplayFor(modelItem => item.OutcomeStatement)</td>
                  <td>@Model.NumberMeasures(item.OutcomeNumber)</td>
                </tr>          
            }
        </tbody>
    </table>
    <br/><br/>    
    <a href="../OutcomeMeasure/Index?id=@Model.offeringid">Enter a Measure for Course Offering Outcomes</a>
    <br/><br/>
    <a asp-page="./Edit" asp-route-id="@Model.CourseOffering?.CourseOfferingId">Edit Course Offering</a>
</div>


