@page
@model AssessmentAssistant.Pages.AcademicCourse.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Academic Course (Details Page)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicCourse.CourseTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcademicCourse.CourseTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicCourse.CourseDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcademicCourse.CourseDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicCourse.CourseCoordinatorID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcademicCourse.CourseCoordinatorID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicCourse.AcademicProgram)
        </dt>
        <dd class="col-sm-10">
            @if(@Model.programid == null){<a asp-page="../AcademicCourse/Edit" asp-route-id="@Model.AcademicCourse?.AcademicCourseId">Attach Course to Academic Program</a>} 
            else{<p>@Model.AcademicProgramTitle()</p>}
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicCourse.MeasurementPeriod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcademicCourse.MeasurementPeriod)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicCourse.EnteredByUserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcademicCourse.EnteredByUserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicCourse.RecordOwnerUserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcademicCourse.RecordOwnerUserName)
        </dd>
    </dl>
</div>
<hr/>
<h4>Course Outcomes for Current Measurement Period: @Model.AcademicCourse.MeasurementPeriod</h4>
<b><a href="../CourseOutcome/Index?id=@Model.courseid">View/Enter Course Outcomes for Course</a></b>
<br/>
<p>All courses should have course outcomes. These outcomes are measured in a course offering. each outcome 
    can have multiple course outcome measures. Each course outcome should be mapped to at least a single 
    program outcome. 
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseOutcomes[0].OutcomeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseOutcomes[0].OutcomeStatement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseOutcomes[0].ProgramOutcomeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseOutcomes[0].MeasurementPeriod)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CourseOutcomes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OutcomeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutcomeStatement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramOutcomeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeasurementPeriod)
            </td>
            <td>
                <a asp-page="../CourseOutcome/Edit" asp-route-id="@item.CourseOutcomeId">Edit Outcome</a> |
                <a asp-page="../CourseOutcome/Details" asp-route-id="@item.CourseOutcomeId">Course Outcome Details</a> |
                <a asp-page="../CourseOutcome/Delete" asp-route-id="@item.CourseOutcomeId">Delete Outcome</a>
            </td>
        </tr>
}
    </tbody>
</table>
<hr/>
<h4>Course Offerings for the Course</h4>
<b><a href="../CourseOffering/Create?id=@Model.courseid">Create New Course (Semester) Offering</a></b>
<br/>
<p>To measure course outcomes we need to have a course offering associated with the course. Each course offering allows
    for multiple measures of the course outcomes. Create a course offering before you create course measures. When you
    enter the course offering you will be able to enter a grade distribution and statement of issues that occurred during the 
    offering and any proposed improvements to the course. 
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseOfferings[0].SectionNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseOfferings[0].Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseOfferings[0].Instructor)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CourseOfferings) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SectionNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructor)
            </td>

            <td>
                <a asp-page="../CourseOffering/Details" asp-route-id="@item.CourseOfferingId">Enter Measures for this Course Offering</a> |
                <a asp-page="../CourseOffering/Edit" asp-route-id="@item.CourseOfferingId">Edit</a> |
                <a asp-page="../CourseOffering/Delete" asp-route-id="@item.CourseOfferingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<hr/>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AcademicCourse?.AcademicCourseId">Edit Course</a> |
    <a href="../CourseOffering/Index?id=@Model.courseid">View/Enter Offerings for Course</a> |

    <a asp-page="./Index">View Full List of Courses</a>
</div>
<div></div>

