@page
@model AssessmentAssistant.Pages.AcademicCourse.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AcademicCourse[0].CourseTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademicCourse[0].CourseDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademicCourse[0].CourseCoordinatorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademicCourse[0].AcademicProgram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademicCourse[0].MeasurementPeriod)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AcademicCourse) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseCoordinatorID)
            </td>
            <td>
                @Model.AcademicProgramTitle(item.AcademicProgramId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeasurementPeriod)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AcademicCourseId">Edit Course</a> |
                <a asp-page="./Details" asp-route-id="@item.AcademicCourseId">Details and Outcomes</a> |
                <a asp-page="./Delete" asp-route-id="@item.AcademicCourseId">Delete Course</a>
            </td>
        </tr>
}
    </tbody>
</table>
