@page
@model AssessmentAssistant.Pages.AcademicCourse.ListModel

@{
    ViewData["Title"] = "List";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>List</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AcademicCourse[0].CourseTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademicCourse[0].CourseDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademicCourse[0].CourseCoordinatorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademicCourse[0].AcademicProgram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademicCourse[0].MeasurementPeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademicCourse[0].EnteredByUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademicCourse[0].RecordOwnerUserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AcademicCourse) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseCoordinatorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcademicProgram.AcademicProgramId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeasurementPeriod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnteredByUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecordOwnerUserName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AcademicCourseId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AcademicCourseId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AcademicCourseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
