@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Assessment Assistant</h1>
</div>
    <p>The assessment assistant application makes it easy to enter and manage assessment data. The program tracks programs, program outcomes, 
        courses associated with programs, course outcomes and outcome measures.</p>
    <p>Program Coordinators are able to enter program data and program outcomes.</p>
    <p>Faculty (course coordinators can enter course outcomes and measure results for courses along with seeing results of courses</p>

<div>
    @if(User.Identity.IsAuthenticated) 
    {
    <h2>Courses for @User.Identity.Name</h2>
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.courses)
            </th>
            <th>View Course Details</th>
            <th>Edit Course Information</th>
        </tr>
    </thead>
    <tbody>
            @if (Model.courses != null)
            {
                @foreach (var item in Model.courses)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseTitle)
                        </td>

                        <td>
                            <a asp-page="./AcademicCourse/List" asp-route-id="@item.AcademicCourseId">List of All Courses</a>
                        </td>
                                                <td>
                            <a asp-page="./AcademicCourse/Details" asp-route-id="@item.AcademicCourseId">Edit Course and Outcomes for Course</a>                
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
        <br/>
        <a asp-page="./AcademicCourse/Index">Courses Main Page</a>
        <br/>
        <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.programs)
                </th>
                <th>View Program Details</th>
                <th>Edit Program Information</th>
            </tr>
            </thead>
            <tbody>
            @if (Model.programs != null)
            {
                @foreach (var item in Model.programs)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProgramTitle)
                        </td>

                        <td>
                            <a asp-page="./AcademicProgram/Details" asp-route-id="@item.AcademicProgramId">Details</a>
                        </td>
                        <td>
                            <a asp-page="./AcademicProgram/Index" asp-route-id="@item.AcademicProgramId">Edit Program and Outcomes</a>                
                        </td>
                    </tr>
                }
            }

            </tbody>
            </table>
            <a href="./AcademicProgram/Index">Programs Main Page (Manage, Edit Programs - Enter Outcomes or Courses for Programs)</a>

    }

</div>
