@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Assessment Assistant</h1>
</div>
    <p>The assessment assistant application makes it easy to enter and manage assessment data. The program tracks programs, program outcomes, 
        courses associated with programs, course outcomes and outcome measures.</p>
    <p>Program Coordinators are able to enter program data and program outcomes.</p>
    <p>Faculty (course coordinators can enter course outcomes and measure results for courses along with seeing results of courses</p>

<div>
    @if(User.Identity.IsAuthenticated) 
    {
    <h2>Courses for @User.Identity.Name</h2>

        @if (@Model.MeasurementPeriod() == "")
        {
            <a href='../UserSettings/Create'>Create Default Settings</a>
        }
        else
        {
            <p>Default Measurement Period: @Model.MeasurementPeriod():  
            <a href='../UserSettings/Edit?id=@Model.UserSettingsId'>Change Value</a></p>
        }
        <hr/>
        <p>This is a list of all courses assigned to you as the Course Coordinator. From here you can edit the course information,
            create or edit outcomes, and also define measures for course outcomes. All courses and course outcomes should be for a
            specific measurement period, which can be set from this page.
        </p>
        <table class="table">
    <thead>
        <tr>
            <th>Course</th>
            <th>Associated Program</th>
            <th>Edit Course Information</th>
        </tr>
    </thead>
    <tbody>
            @if (Model.courses != null)
            {
                @foreach (var item in Model.courses)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseTitle) @Html.DisplayFor(modelItem => item.CourseDescription)
                        </td>
                        <td>
                            <label>@Model.AcademicProgramTitle(item.AcademicProgramId)</label>
                        </td>
                        <td>
                            <a asp-page="./AcademicCourse/Details" asp-route-id="@item.AcademicCourseId">Edit Course and Outcomes for Course</a>                
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
        <br/>
        <a asp-page="./AcademicCourse/Index">Courses Main Page</a>
        <br/><br/>

            <a href="./AcademicProgram/Index">Academic Programs Main Page </a><br/>
            <p>(Manage, Edit Programs - Enter Program Outcomes or Assign Courses to Programs)</p>

    }

</div>
