@page
@model AssessmentAssistant.Pages.AcademicProgram.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Academic Program Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcademicProgram.ProgramTitle)<br/>
            @Html.DisplayFor(model => model.AcademicProgram.ProgramDescription)
        </dd>


    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AcademicProgram.AcademicProgramId">Edit This Academic Program</a> |
    <a asp-page="./Index">Full Program List</a><br/>

</div>
<hr/>
<h4> Academic Courses for @Html.DisplayFor(model => model.AcademicProgram.ProgramTitle) (@Html.DisplayFor(model => model.AcademicProgram.MeasurementPeriod)
     <a href="../UserSettings/Edit?id=@Model.UserSettingsId">Change</a>)</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AcademicProgram.AcademicCourses)
            </th>
            <th>Edit This Course</th>
            <th>Course Details Page (Outcomes, Measures)</th>
        </tr>
    </thead>
    <tbody>
            @if (Model.AcademicProgram.AcademicCourses != null)
            {
                @foreach (var item in Model.AcademicCourses)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseTitle)
                        </td>
                        <td>
                            <a asp-page="../AcademicCourse/Edit" asp-route-id="@item.AcademicCourseId">Edit Course</a>                
                        </td>
                        <td>
                            <a asp-page="../AcademicCourse/Details" asp-route-id="@item.AcademicCourseId">Course Details Page</a>
                        </td>
                    </tr>
                }
            }
    </tbody>
</table>
<hr/>
    <a href="../AcademicCourse/Create?id=@Model.AcademicProgram.AcademicProgramId">Add a Course to the Academic Program</a>
    <hr/>
<h2> Program Outcomes for @Html.DisplayFor(model => model.AcademicProgram.ProgramTitle) (@Html.DisplayFor(model => model.AcademicProgram.MeasurementPeriod))</h2>
<div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AcademicProgram.ProgramOutcomes)
            </th>
            <th>Outcome Statement</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @if (Model.AcademicProgram.ProgramOutcomes != null)
            {
                @foreach (var item in Model.ProgramOutcomes)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OutcomeNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OutcomeStatement)
                        </td>

                        <td>
                            <a asp-page="../ProgramOutcome/Edit" asp-route-id="@item.ProgramOutcomeId">Edit Outcome</a>                
                        </td>
                        <td>
                            <a asp-page="../ProgramOutcome/Details" asp-route-id="@item.ProgramOutcomeId">Outcome Details</a>
                        </td>
                        <td>
                            <a asp-page="../ProgramOutcome/Delete" asp-route-id="@item.ProgramOutcomeId">Delete Outcome</a>
                        </td>
                    </tr>
                }
            }
    </tbody>
</table>
<hr/>
    <a asp-page="../ProgramOutcome/Create"asp-route-id="@Model.AcademicProgram.AcademicProgramId">Add an Outcome to the Academic Program</a>
<hr />
<h4>Reports Available for the Academic Program @Html.DisplayNameFor(model => model.AcademicProgram.ProgramTitle) 
    (@Html.DisplayFor(model => model.AcademicProgram.MeasurementPeriod))</h4>

<div>
    <a href="./ProgramOutcomeReport?id=@Model.programid">Program Outcome Report</a> - 
    <p>This report shows all the outcomes for the current measurement period and all the aligned course 
        outcomes for the same period. This is simply the mapping of program to course outcomes.
    </p>
    <br/>
        <a href="./CourseToProgramOutcomeMap?id=@Model.programid">Course to Program Outcome Map</a>
        <p>Counts the number of associated outcomes that go with each program outcome. Puts the results
            in a matrix table.
        </p>
    <br/>
        <a href="./CourseOutcomes?id=@Model.programid">List Course Outcomes for all Courses</a>
        <p>A simple report of all the courses associated with the program and their outcomes.</p>

    <br/>
            <a href="./CourseEvaluationSummary?id=@Model.programid">Qulaitative Summary of all courses</a>
        <p>A summary of issues face, improvements, and results of improvement</p>

    <br/>
</div>
</div>
