@page
@model AssessmentAssistant.Pages.AcademicProgram.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Academic Programs</h1>
@*<p>
    <a href="Index/?v=all">View All Academic Programs</a>
</p>*@

<p><a asp-page="Create">Create New Academic Program</a></p>
<hr/>
Each academic program will have a new entry for each measurement period which
allows for changes to outcomes and courses from one measurement period to another. Copying the 
program will also make a copy of all associated courses and course and program outcomes. 
<hr/>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AcademicPrograms[0].ProgramTitle)
            </th>
            <th>Measurement Period</th>
            <th>Add Information</th>
            <th>Edit Program</th>
            <th>Copy Program</th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AcademicPrograms) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeasurementPeriod)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.AcademicProgramId">Details (Courses, Outcomes, Reports)</a>
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AcademicProgramId">Edit Academic Program</a>                
            </td>
            <td>
                <p><a asp-page="./Copy" asp-route-id="@item.AcademicProgramId">Copy Program to New Measurement Period</a></p>
            </td>

        </tr>
}
    </tbody>
</table>
