@page
@model AssessmentAssistant.Pages.AcademicProgram.ProgramOutcomeReportModel

@{
    ViewData["Title"] = "ProgramOutcomeReport";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Program Outcome Report</h1>

<div>
    <h4>AcademicProgram @Html.DisplayFor(model => model.AcademicProgram.ProgramTitle) (@Html.DisplayFor(model => model.AcademicProgram.MeasurementPeriod)) </h4>
    <hr />
    <table style="border:solid">
        <thead>
            <tr style="border:medium">
                <th>PO Number</th>
                <th>Outcome Statement</th>
                <th>Courses and Course Outcomes</th>
            </tr>
        </thead>
        <tbody>
    @foreach(var po in Model.ProgramOutcomes)
    {<tr style="border:medium">
        <td>@Html.DisplayFor(modelItem => po.OutcomeNumber)</td>
        <td>@Html.DisplayFor(modelItem => po.OutcomeStatement)</td>
        <td>
        <table>
            
        @foreach(var c in Model.Courses){
                        @foreach(var co in Model.CourseOutcomes[c.CourseTitle])
                        {
                            @if (co.ProgramOutcomeNumber == po.OutcomeNumber)
                            {<tr>
                                <td width="25%">
                                 @Html.DisplayFor(modelItem => c.CourseTitle)<br/>
                                 Outcome @Html.DisplayFor(modelItem => co.OutcomeNumber)
                                 </td>
                                <td>@Html.DisplayFor(modelItem => co.OutcomeStatement)</td>

                                </tr>
                            }
                        }
                    }
        
        </table>
      </td>
    </tr>
    }
    </tbody>
    </table>
</div>
<div>
    <a href="./Details?id=@Model.AcademicProgram.AcademicProgramId">Back to Program</a>
</div>
