@page
@model AssessmentAssistant.Pages.ProgramOutcome.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Create Program Outcome for @Model.AcademicProgram.ProgramTitle</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProgramOutcome.OutcomeNumber" class="control-label"></label>
                <input asp-for="ProgramOutcome.OutcomeNumber" class="form-control" />
                <span asp-validation-for="ProgramOutcome.OutcomeNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgramOutcome.OutcomeStatement" class="control-label"></label>
                <textarea asp-for="ProgramOutcome.OutcomeStatement" class="form-control" rows="5"></textarea>
                <span asp-validation-for="ProgramOutcome.OutcomeStatement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgramOutcome.AcademicProgramId" class="control-label"></label>
                <input asp-for="ProgramOutcome.AcademicProgramId" class ="form-control" value="@Model.AcademicProgram.AcademicProgramId" />
            </div>
            <div class="form-group">
                <label class="control-label">Select Measurement Period:</label>
                <select asp-for="ProgramOutcome.MeasurementPeriod" asp-items="@Model.MeasurementPeriodList" class ="form-control"></select>
                <span asp-validation-for="ProgramOutcome.MeasurementPeriod" class="text-danger"></span>
            </div>

            <div class="form-group" hidden>            
                <input asp-for="ProgramOutcome.RecordOwnerUserName" class="form-control" value="@Model.UserId()" />
                <span asp-validation-for="ProgramOutcome.RecordOwnerUserName" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>            
                <input asp-for="ProgramOutcome.EnteredByUserName" class="form-control" value="@Model.UserId()" />
                <span asp-validation-for="ProgramOutcome.EnteredByUserName" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
